/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-- MY CSS STARTS HERE --*/

body {
  font-family: "Roboto", sans-serif;
}

a:hover {
  cursor: pointer;
}

.my-pic {
  background-color: rgba(150, 150, 150, 0.25);
  height: 200px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 3px 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#me {
  height: 190px;
  width: 190px;
  border-radius: 100px;
}

.projects {
  border: solid 1px red;
  background-color: beige;
  height: 400px;
  width: 100%;
}

.display-projects {
  height: 300px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  border: solid 1px blue;
}

.listed-prcjects {
  background-color: blueviolet;
}

/* .display-projects div,
.display-projects img {
  border: solid 1px purple;
  height: inherit;
  width: fit-content;
} */
